@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500&display=swap');

*{
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
}
.row{
    max-width: 100%;
}
.nav-item{
    font-size: 16px;
}
.subtext{
    color: #6c757d;
}
.disabled{
    cursor:no-drop;
    pointer-events: none;
    color: #6c757d;
}
a{
    color: white;
}